doctype html
html(ng-app="smartHome")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Karsten's Smarthome

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body(ng-controller="dashboardCtrl")
    p test
    .container(ng-view)
      block content

  script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js')

  script(src='/app/app.js')
  script(src='/app/controllers/dashboard.js')